@using RecipeApp.Core.Models;
@using System.Security.Claims;

@{
    ViewData["Title"] = "Index";
}
@model List<RecipeOutVM>


    @foreach (var item in Model)
    {
        <div class="card">
            <h5 class="card-title">@item.Name</h5>
            <img class="card-img-top" src="@item.Image" alt="Card image cap">
            <div class="card-body">
                <div class="card-body">
                    <p class="card-text">Eklenme Tarihi: @item.CreatedDate</p>
                </div>
                <div class="card-body">
                    <form method="post" action="/Favorite/AddToFavorites">
                        <input type="hidden" name="recipeId" value="@item.Id" />
                        <input type="hidden" name="userId" value="@User.FindFirst(ClaimTypes.NameIdentifier).Value" />
                    <button class="btn  px-4 gradient-custom-3" type="submit">Favorilere Ekle</button>
                    </form>
               
                <div class="d-flex justify-content-end align-items-center ">
                  
                    <div class="ratings  ">
                        <h5 >Puan</h5>
                        @for (int i = 0; i < item.Score; i++)
                        {
                            <i class="fa fa-star rating-color"></i>
                        }
                    </div>
                </div>
                </div>
                <h4 class="card-text">Tarif:</h4>
                <p class="card-text"> @item.Description</p>
                <h4 class="card-text">Malzemeler:</h4>
                <p class="card-text">@item.Ingredients</p>
            </div>
        </div>


    }


